/* 全局 */
html {
	*overflow-x: hidden;
}

body {
	font: 14px/24px "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	background: white;
	color: #333;
}

a {
	color: #333;
}

a:hover {
	color: #cc3333;
	text-decoration: none;
}

ul,
ol,
dl,
dt,
dd,
li {
	list-style: none;
}

figure {
	margin: 0;
}

.clear {
	clear: both;
}

.db {
	display: block;
}

.fwb {
	font-weight: bold;
}

.tac {
	text-align: center;
}

.ti2e {
	text-indent: 2em;
}

.oh {
	overflow: hidden;
}

@media (max-width: 767px) {
	body {
		font: 0.44rem/1.5 "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	}
}

body ::selection {
	color: #fff;
	background-color: #cc3333;
	text-shadow: none;
}

body ::-moz-selection {
	color: #fff;
	background-color: #cc3333;
	text-shadow: none;
}

.padd_l0 {
	padding-left: 0px;
}

.padd_r0 {
	padding-right: 0px;
}

@media (max-width: 767px) {
	.container {
		padding: 0;
	}

	.row {
		margin: 0;
	}

	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9 {
		padding: 0;
	}
}

/* 通用 */
.transdelay {
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

.transdelay a {
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

.transdelay2 {
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}

.transdelay2 a {
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}

.opactran a img {
	filter: alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1.00;
	opacity: 1;
	transition: all 0.3s ease-in-out 0s;
}

.opactran a:hover img {
	filter: alpha(opacity=70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: 0.70;
	opacity: 0.7;
}

/* 导航 */
.menu {
	position: relative;
}

.isStuck {
	left: 0px;
	width: 100%;
}

.ind_Menu {}

.ind_Menu ul {
	margin: 0;
	padding: 0;
}

.ind_Menu li {
	font: 12px/50px "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	color: #fff;
	float: left;
	display: inline;
}

.ind_Menu li a:hover {
	color: #eee;
}

.ind_Menu li a:after {
	content: "-";
	padding: 0 0 0 13px;
}

.ind_Menu li:last-child a:after {
	content: "";
	padding: 0;
}

.ind_Menu a {
	display: block;
	color: #fff;
	padding: 0 0 0 13px;
}

.ind_Menu a.selected {
	color: #fff;
}

.ind_Menu .pm-links.mobile,
.ind_Menu .pm-viewMore>ul {
	background: #cc3333;
	box-shadow: 2px 2px 2px #aaa;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1000;
}

.ind_Menu .pm-viewMore {
	display: none;
	position: relative;
	text-decoration: none;
}

.ind_Menu .pm-viewMore>a {
	display: inline-block;
	font: 12px/50px "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.ind_Menu .pm-viewMore>ul {
	left: 0;
	right: 0;
}

.ind_Menu .pm-viewMore li {
	float: none;
	border-bottom: dotted 1px #ca8888;
	text-align: center;
}

.ind_Menu .pm-viewMore li a {
	line-height: 36px;
	padding: 0;
}

.ind_Menu .pm-viewMore li a:after {
	display: none;
}

@media (max-width: 991px) and (min-width: 768px) {
	.ind_Menu li a:after {
		padding: 0 0 0 14px;
	}

	.ind_Menu a {
		padding: 0 0 0 14px;
	}
}

@media (max-width: 767px) and (min-width: 521px) {
	.ind_Menu {
		font: 12px/50px "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	}

	.ind_Menu li a:after {
		display: none;
	}

	.ind_Menu a {
		padding: 0 12px;
		color: #fff;
	}

	.ind_Menu .pm-viewMore>a {
		padding: 0 12px;
	}

	.ind_Menu .pm-viewMore>ul {
		left: 0;
		right: 0;
	}

	.ind_Menu .pm-links.mobile,
	.ind_Menu .pm-viewMore>ul {
		background: #cc3333;
		box-shadow: none;
	}
}

@media (max-width: 520px) {
	.ind_Menu ul {
		margin: 0.3rem 0 0 0;
		padding: 0.2rem 0;
	}

	.ind_Menu li {
		font: 0.44rem/2 "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
		float: left;
		width: 25%;
		border-right: none;
		text-align: center;
	}

	.ind_Menu a {
		padding: 0 12px;
		color: #fff;
	}

	.ind_Menu li a:after {
		display: none;
	}

	.ind_Menu .pm-dropDown a {
		margin: 0.4rem 0 0 2.4rem;
	}
}

/* 顶部 */
.xl_top {
	height: 50px;
	background-color: #cc3333;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.xl_top .icon {
	width: 69px;
	height: 31px;
	float: left;
	display: inline;
	margin: 10px 0 0 0;
	font-size: 12px;
}

.xl_top .icon img {
	width: 100%;
}

@media (max-width: 520px) {
	.xl_top {
		height: 1.5rem;
	}

	.xl_top .icon {
		width: 2rem;
		margin: 0.3rem 0 0 0.2rem;
	}
}

.zhanwei {
	height: 50px;
}

@media (max-width: 767px) {
	.zhanwei {
		height: 1.5rem;
	}
}

/* 评论 */
.dc-pub .dp-head h2 {
	margin: 5px 0 0 0;
}

.pinglun .dc-pub .dp-head .dp-head-link-list {
	display: none;
}

.da-comment .do-share {
	display: none;
}

.pinglun #da-comment .dc-list .no-comment {
	background: none;
}

#da-comment .dc-list .dl-head h2 {
	margin-bottom: 0px;
}

/* 点击复制全文 */
.zero-clipboard {}

.zero-clipboard .btn-clipboard {
	color: #348cec;
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: -50px;
	cursor: pointer;
	font: 14px/1.5 "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font: 12px/1.5 "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	visibility: visible;
	filter: alpha(opacity=0);
	opacity: 0
}

.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

@media (max-width: 767px) {
	.zero-clipboard {
		display: none;
	}
}

/* 视频 */
#videoArea iframe {
	width: 100%;
	height: 460px;
}

@media screen and (min-width:0px) and (max-width: 767px) {
	#videoArea iframe {
		width: 100%;
		height: 200px;
	}
}

.pageVideo {
	width: 638px;
	height: 360px;
}

@media (max-width: 1051px) and (min-width: 992px) {
	.pageVideo {
		width: 617px;
		height: 360px;
	}
}

@media (max-width: 767px) {
	.pageVideo {
		width: 100%;
		height: 200px;
	}
}

/* 底部 */
.footer {
	background-color: #fafafa;
	padding: 30px 0;
	margin: 50px 0 0 0;
}

.footer span {
	color: #ababab;
	display: block;
	text-align: center;
}

.footer span a {
	color: #ababab;
}

.footer span a:hover {
	color: #ababab;
}

@media (max-width: 767px) {
	.footer {
		padding: 20px 0;
		margin: 20px 0 0 0;
	}

	.footer span {
		font-size: 0.32rem;
	}
}

/* 细揽右侧 */
.xl_iframes {
	width: 316px;
}

.xl_iframes .big_pic {
	margin-bottom: 16px;
}

.xl_iframes .big_pic img {
	width: 100%;
}

.xl_iframes .small_pic {
	overflow: hidden;
	margin-bottom: 16px;
}

.xl_iframes .small_pic .pic_left {
	width: 150px;
	margin-right: 16px;
	float: left;
}

.xl_iframes .small_pic .pic_left img {
	width: 100%;
}

.xl_iframes .small_pic .pic_right {
	width: 150px;
	float: left;
}

.xl_iframes .small_pic .pic_right img {
	width: 100%;
}

.xl_iframes .xl_title {
	height: 45px;
	border-top: #e5e5e5 1px solid;
	border-bottom: #e5e5e5 1px solid;
}

.xl_iframes .xl_title .con {
	height: 20px;
	background-color: #e5e5e5;
	margin-top: 12px;
}

.xl_iframes .xl_title .con span {
	color: #000;
	background-color: #fff;
	border-left: #cc3333 8px solid;
	font: 18px/18px "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	padding: 0 6px;
	margin: 0;
}

.xl_iframes .xl_title2 {
	color: #cc3333;
	font: 18px/18px "PingFang SC", "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	margin-top: 30px;
}

.xl_iframes .xl_list {}

.xl_iframes .xl_list ul {
	margin: 10px 0 0 10px;
	padding: 0;
}

.xl_iframes .xl_list li {
	font: 14px/2 "PingFang SC", "Lantinghei SC", simsun, "Microsoft YaHei", Helvetica, Arial, sans-serif;
	padding-left: 15px;
	background: url(/n7/images/v7_xl_20170707_06.jpg) no-repeat 0 12px;
}

.xl_iframes .xl_shipin {}

.xl_iframes .xl_shipin .pic {
	position: relative;
	width: 100%;
}

.xl_iframes .xl_shipin .pic img {
	width: 100%;
}

.xl_iframes .xl_shipin .pic .tubiao {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.xl_iframes .xl_shipin .pic .tubiao img {
	width: 100%;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
}

.xl_iframes .xl_shipin .pic:hover .tubiao img {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
}

.xl_iframes .xl_shipin .text {}

.xl_iframes .xl_shipin .text h2 {
	font: 14px/2 "PingFang SC", "Lantinghei SC", simsun, "Microsoft YaHei", Helvetica, Arial, sans-serif;
	color: #666;
	max-height: 28px;
	overflow: hidden;
	margin: 10px 0 0;
}

.xl_iframes .xl_shipin .text h2 a {
	color: #666;
}

.xl_iframes .xl_shipin .text h2 a:hover {
	color: #cc3333;
}

.xl_iframes .xl_manping {}

.xl_iframes .xl_manping .pic {
	position: relative;
	width: 100%;
}

.xl_iframes .xl_manping .pic img {
	width: 100%;
}

.xl_iframes .xl_manping .text {
	margin: 15px 0 30px 0;
}

.xl_iframes .xl_manping .text h2 {
	font: 14px/2 "PingFang SC", "Lantinghei SC", simsun, "Microsoft YaHei", Helvetica, Arial, sans-serif;
	color: #666;
	max-height: 28px;
	overflow: hidden;
	margin: 0;
}

.xl_iframes .xl_manping .text h2 a {
	color: #666;
}

.xl_iframes .xl_manping .text h2 a:hover {
	color: #cc3333;
}